package components

templ About(){
<div class="w-full p-20 ">
    <div
        class="flex flex-row gap-2 items-center w-full  rounded-md shadow-md  hover:bg-slate-900 transition duration-300 cursor-pointer">
        <h3 class="text-2xl">About</h3>
    </div>
    <h1 class="text-3xl mb-2">Welcome to NEXUS</h1>
    <p>Made with ♥️ in GO and HTMX</p>
</div>
}