package components

templ Base() {
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nexus</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.js"
        integrity="sha384-ezjq8118wdwdRMj+nX4bevEi+cDLTbhLAeFF688VK8tPDGeLUe0WoY2MZtSla72F"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/output.css">
</head>

<body class="bg-slate-950">
    <div class="flex-1 h-screen flex flex-row  text-gray-300 font-['Poppins']">
        <div class="h-screen w-1/4 ">

            <div class="flex flex-col h-screen w-full p-3 justify-between ">

                <div>
                    <h1
                        class="w-fit text-4xl p-2 font-large font-bold bg-gradient-to-r  from-indigo-400 via-purple-400   to-pink-400  tracking-lighter text-transparent bg-clip-text ">
                        NEXUS</h1>
                    <div class="mt-10 text-sm text-gray-300 font-light">
                        <div hx-get="/newChat" hx-target="#result" hx-swap="innerHTML"
                            @click="Alpine.destroyTree(document.getElementById('result'))"
                            class="flex flex-row gap-2 items-center w-full p-2 mb-1 rounded-md shadow-md  hover:bg-slate-900 transition duration-300 ease-in-out cursor-pointer">
                            <i class="fa-solid fa-square-plus fa-md"></i>
                            <h3>New Chat</h3>
                        </div>
                        <div hx-get="/config" hx-target="#result" hx-swap="innerHTML"
                            class="flex flex-row gap-2 items-center w-full p-2 mb-1 rounded-md shadow-md  hover:bg-slate-900 transition duration-300 cursor-pointer">
                            <i class="fa-solid fa-sliders fa-md"></i>

                            <h3>Configuration</h3>
                        </div>
                        <div hx-get="/settings" hx-target="#result" hx-swap="innerHTML"
                            class="flex flex-row gap-2 items-center w-full p-2 mb-1 rounded-md shadow-md  hover:bg-slate-900 transition duration-300 cursor-pointer">

                            <i class="fa-solid fa-gear fa-md"></i>
                            <h3>Settings</h3>
                        </div>
                    </div>
                </div>


                <div class="text-gray-300 text-sm">
                    <div hx-get="/about" hx-target="#result" hx-swap="innerHTML"
                        class="flex flex-row gap-2 items-center w-full p-2 mb-1 rounded-md shadow-md  hover:bg-slate-900 transition duration-300 cursor-pointer">
                        <i class="fa-solid fa-circle-info fa-sm"></i>
                        <h2>About</h2>
                    </div>
                    <div
                        class="flex flex-row gap-2 items-center w-full p-2 mb-1 rounded-md shadow-md  hover:bg-slate-900 transition duration-300 cursor-pointer">
                        <i class="fa-solid fa-arrow-right-from-bracket fa-md"></i>
                        <h2>Log Out</h2>
                    </div>

                </div>

            </div>
        </div>
        <div class="bg-slate-900 h-screen w-[2px]">
        </div>
        <div id="result" @htmx:after-swap="Alpine.initTree($el)" class="w-3/4">
            <div class="p-20 ">
                <h1 class="text-3xl mb-2">Welcome to NEXUS</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque condimentum sapien id
                    scelerisque ullamcorper. Aliquam cursus rhoncus nibh, et iaculis leo blandit luctus. Mauris et
                    pellentesque enim, vel finibus augue. Duis aliquam luctus rhoncus. Curabitur sed ligula in ante
                    iaculis hendrerit vel eu ipsum. Maecenas interdum est ut placerat ultricies. Interdum et malesuada
                    fames ac ante ipsum primis in faucibus. Nullam quam ligula, viverra et luctus sed, accumsan non
                    erat. Curabitur convallis semper mattis. Vivamus maximus quam non semper feugiat.

                    Proin non varius ex. Mauris finibus ligula a leo laoreet tristique. Ut pretium commodo interdum. Nam
                    nibh leo, posuere ut mi vel, iaculis ultrices sapien. Pellentesque id iaculis orci. Phasellus nisl
                    mauris, accumsan nec turpis a, aliquam imperdiet ligula. Fusce molestie dolor nisl, quis
                    pellentesque dui malesuada nec. Maecenas cursus rhoncus ipsum, a cursus eros mattis in. Maecenas
                    mattis efficitur laoreet. Fusce interdum nec nulla ac tempor. Donec placerat nisl mi, sed venenatis
                    nunc faucibus id. Praesent aliquam dolor mauris, vel faucibus sem scelerisque sed. Aenean dui orci,
                    egestas quis est eget, iaculis tempor felis. Curabitur et ex ut velit pellentesque scelerisque in id
                    lacus. Mauris laoreet est vel nisl eleifend, vel sodales odio hendrerit.</p>
            </div>
        </div>
    </div>

</body>

</html>
}