package components



templ ChatHome(user string,greeting string,showIntro bool){

<script>
    function chatComponent() {
        return {
            showIntroText: false,
            isLoading: false,
            isDone: true,
            showChatWindow: false,
            message: '',
            socket: null,
            currentBubble: null,

            init() {
                if (this.socket) {
                    this.socket.close();
                    this.socket = null;
                }

                this.showIntroText = true;
                this.showChatWindow = false;
                this.isLoading = false;
                this.isDone = true;
                this.message = '';
                this.currentBubble = null;

                const container = document.getElementById('message-container');
                if (container) container.innerHTML = '';

                this.socket = new WebSocket('ws://localhost:9999/agent/chat');

                this.socket.onmessage = (event) => {
                    if (!this.isLoading) {
                        this.isLoading = true;
                        this.showIntroText = false;
                    }

                    this.handleStream(event.data);

                    this.$nextTick(() => {
                        if (this.$refs.chat) {
                            this.$refs.chat.scrollTop = this.$refs.chat.scrollHeight;
                        }
                    });
                };

                this.socket.onclose = () => console.log('ws closed');
            },

            handleStream(data) {
                this.isDone = false;
                this.isLoading = false;

                if (!this.currentBubble) {
                    const container = document.getElementById('message-container');

                    const wrapper = document.createElement('div');
                    wrapper.className = 'flex items-start mt-4 gap-3';

                    const logo = document.createElement('img');
                    logo.src = '/static/bank.png';
                    logo.className = 'mt-5 w-6 h-6 rounded-md shrink-0';

                    const newMessage = document.createElement('div');
                    newMessage.className = 'mt-4 text-gray-300';

                    this.currentBubble = document.createElement('div');
                    this.currentBubble.className = ` 
                    prose prose-invert max-w-none
                    prose-p:text-gray-300
                    prose-headings:text-white
                    prose-strong:text-white
                    prose-li:text-gray-300
                    leading-relaxed
                    `


                    newMessage.appendChild(this.currentBubble);
                    wrapper.appendChild(logo);
                    wrapper.appendChild(newMessage);
                    container.appendChild(wrapper);
                }

                if (!this.buffer) this.buffer = ""

                if (data === '[DONE]') {

                    const bubble = this.currentBubble
                    setTimeout(() => {

                        bubble.querySelectorAll('pre code').forEach((block) => {
                            hljs.highlightElement(block)
                            const pre = block.parentElement;

                            if (pre.querySelector('.copy-btn')) return;

                            const button = document.createElement('button');
                            button.innerText = 'Copy';

                            button.className = `
                            copy-btn
                            absolute top-2 right-2
                            text-xs px-2 py-1
                            bg-blue-500 hover:bg-blue-500/80
                            text-white rounded
                            `;

                            button.onclick = () => {
                                navigator.clipboard.writeText(block.innerText);
                                button.innerText = "Copied!";
                                setTimeout(() => button.innerText = "Copy", 1500);
                            };

                            pre.style.position = 'relative';
                            pre.appendChild(button);
                        })
                    }, 0)
                    this.isDone = true;
                    this.currentBubble = null;
                    this.buffer = ""
                    return
                } else {

                    this.buffer += data
                    this.currentBubble.innerHTML = (marked.parse(this.buffer));
                }


            },

            sendMessage() {
                if (this.message.trim() === '' || this.isLoading) return;

                this.showIntroText = false;
                this.showChatWindow = true;

                document.getElementById('message-container').insertAdjacentHTML(
                    'beforeend',
                    `
                <div class='flex flex-col items-end m-2'>
                    <div class='w-2/3 p-5 bg-slate-900 text-gray-300 rounded-2xl'>
                        <p>${this.message}</p>
                    </div>
                </div>
                `
                );

                this.isLoading = true;
                this.socket.send(this.message);
                this.message = '';

                this.$nextTick(() => {
                    this.$refs.chat.scrollTop = this.$refs.chat.scrollHeight;
                });
            }
        };
    }
</script>
<div x-data="chatComponent()" x-init="init()" hx-on:htmx:after-swap="Alpine.initTree($el)" class=" flex flex-col h-screen w-full p-20 justify-center
    transition duration-500">

    <div x-show="showIntroText" class=" m-4">
        <h1 class="w-fit text-2xl font-light">Hi, {user}</h1>
        <h1
            class="w-fit h-[50px] text-4xl    bg-gradient-to-r from-indigo-400 via-purple-400 to-pink-400 text-transparent bg-clip-text">
            {greeting}
        </h1>
    </div>


    <div x-if="showChatWindow" id="chat-window" x-ref="chat" :class="showChatWindow?'flex-1':'h-0 overflow-hidden'"
        class="overflow-x-hidden overflow-y-auto no-scrollbar flex flex-col  w-full mb-4 scroll-smooth font-sans"
        style="overflow-anchor:none" @htmx:after-settle="$el.scrollTop = $el.scrollHeight">

        <div id="message-container" class="w-full flex flex-col"></div>

        <div x-show="isLoading" class="h-16 flex items-center">
            <div id="spinner" class="m-2 self-start">
                <!--
                <h1
                    class="w-fit text-lg bg-gradient-to-r from-indigo-400 via-purple-400 to-pink-400 italic text-transparent bg-clip-text">
                    Thinking...
                </h1>
                -->
                <img src="/static/bank.gif" alt="Thinking" class="mt-5  w-6 h-6  rounded-sm shrink-0" />
            </div>
        </div>


    </div>


    <div class="relative">

        <div>
            <input type="file" id="file-upload" class="hidden" />
            <div @click="if (!isLoading) document.getElementById('file-upload').click()"
                class="absolute flex justify-center items-center bottom-1 m-4 left-0 bg-slate-800 hover:bg-slate-950 w-[30px] h-[30px] rounded-full transition duration-300">
                <i class="fa-solid fa-plus"></i>
            </div>
        </div>



        <textarea x-model="message" hx-post="/chatMessage" hx-trigger="send-message from:window"
            hx-target="#message-container" hx-swap="beforeend" @htmx:before-request="isLoading=true"
            @htmx:after-request="isLoading=false" @keydown.enter="if (!$event.shiftKey){
                $event.preventDefault()
                sendMessage()
        }" autofocus
            class="w-full min-h-[120px] max-h-[200px] p-5  rounded-2xl bg-slate-900 text-white text-base font-sans outline-none resize-none border border-white/10 shadow-2xl focus:border-blue-400/50  transition-all duration-300"
            name="input" id="input" placeholder="Ask Nexus"></textarea>



        <div @click="sendMessage()"
            class="absolute flex justify-center items-center bottom-1 m-4 right-0 bg-slate-800 hover:bg-slate-950 w-[30px] h-[30px] rounded-full transition duration-300">
            <i x-show="isDone" x-transition class="fa-solid fa-angle-up"></i>
            <i x-show="!isDone" x-transition class="fa-solid fa-stop fa-sm"></i>
        </div>
        <div class="absolute w-full flex items-center justify-end ">
            <h1 class="m-1 text-sm select-none text-white/30">*Model can make mistakes</h1>
        </div>
    </div>

</div>

}