package components



templ ChatHome(user string){


<div x-data="{
showIntroText : true,
isLoading:false, 
isDone:true,
message:'',
socket:null,
currentBubble:null,

init(){
this.isLoading=false
 this.socket = new WebSocket('ws://localhost:8000/ws')
 this.socket.onmessage = (event)=>{
 if (!this.isLoading){
 this.isLoading = true
 this.showIntroText = false
 }

 this.handleStream(event.data)

 this.$nextTick(()=>{
    this.$refs.chat.scrollTop = this.$refs.chat.scrollHeight
 })

 }
 this.socket.onclose = () => {console.log('ws closed')}
},

handleStream(data){

this.isDone=false
if(!this.currentBubble){

const container = document.getElementById('message-container')
const wrapper = document.createElement('div')
wrapper.className='flex  items-start mt-4 gap-3'

const logo = document.createElement('img')
logo.src = '/static/bank.png'
logo.alt='img'

logo.className = 'mt-5 w-6 h-6  rounded-md  shrink-0'

const newMessage = document.createElement('div')
newMessage.className= 'mt-4  text-gray-300    transition-all duration-800 ease-out animate-fade-int'

this.currentBubble = document.createElement('p')
newMessage.appendChild(this.currentBubble)
wrapper.appendChild(logo)
wrapper.appendChild(newMessage)
container.appendChild(wrapper)
}

if (data === '[DONE]'){
this.isDone=true
this.isLoading = false
this.currentBubble = null
}else{
this.currentBubble.textContent += data
}
},

sendMessage(){

            if (this.message.trim() === '' || this.isLoading) return
            this.showIntroText=false
            document.getElementById('message-container').insertAdjacentHTML('beforeend',
            `
            <div class=' flex flex-col items-end m-2'>
                <div class='w-2/3  p-5 bg-slate-900 text-gray-300 rounded-2xl transition-all duration-300 ease-out animate-fade-int'>
                <p>${this.message}</p>
                </div>
            </div>

            
            `)

          
            this.socket.send(this.message)
            this.message=''
this.$nextTick(() => {
            if (this.$refs.chat) {
                this.$refs.chat.scrollTop = this.$refs.chat.scrollHeight;
            }
        }); 
}
}" x-init="
        showIntroText = true; 
        isLoading = false; 
        message = ''; 
        currentBubble = null;
     " class="flex flex-col h-screen w-full p-20 justify-center transition duration-500">

    <div x-show="showIntroText" class=" m-4">
        <h1 class=" text-xl font-light">Hi, {user}</h1>
        <h1 class=" text-3xl font-large">Where should we start?</h1>
    </div>


    <div x-show="!showIntroText" id="chat-window" x-ref="chat"
        class="flex-1 overflow-y-auto flex flex-col  w-full mb-4 scroll-smooth font-sans" style="overflow-anchor:none"
        @htmx:after-settle="$el.scrollTop = $el.scrollHeight">

        <div id="message-container" class="w-full flex flex-col"></div>

        <div class="h-16 flex items-center">
            <div x-show="isLoading"
                x-init="$watch('isLoading', value => { if(value) $nextTick(() => $refs.chat.scrollTop = $refs.chat.scrollHeight) })"
                id="spinner" class="m-2 self-start">

                <div class="  w-[20px] h-[20px] p-4 rounded-2xl  italic">
                    Thinking...
                </div>
            </div>
        </div>


    </div>


    <div class="relative">

        <div>
            <input type="file" id="file-upload" class="hidden" />
            <div @click="if (!isLoading) document.getElementById('file-upload').click()"
                class="absolute flex justify-center items-center bottom-1 m-4 left-0 bg-slate-800 hover:bg-slate-950 w-[30px] h-[30px] rounded-full transition duration-300">
                <i class="fa-solid fa-plus"></i>
            </div>
        </div>



        <textarea x-model="message" hx-post="/chatMessage" hx-trigger="send-message from:window"
            hx-target="#message-container" hx-swap="beforeend" @htmx:before-request="isLoading=true"
            @htmx:after-request="isLoading=false" @keydown.enter="if (!$event.shiftKey){
                $event.preventDefault()
                sendMessage()
        }" autofocus
            class="w-full min-h-[120px] max-h-[200px] p-5  rounded-2xl bg-slate-900 text-white text-base font-sans outline-none resize-none"
            name="input" id="input" placeholder="Ask Nexus"></textarea>


        <div @click="sendMessage()"
            class="absolute flex justify-center items-center bottom-1 m-4 right-0 bg-slate-800 hover:bg-slate-950 w-[30px] h-[30px] rounded-full transition duration-300">
            <i x-show="isDone" class="fa-solid fa-angle-up"></i>
            <i x-show="!isDone" class="fa-solid fa-stop fa-sm"></i>
        </div>

    </div>
</div>

}