package components

import "github.com/Pradhyumna-Joshi/go_mcp_frontend/models"

templ Home(){
@Base(){
<div class="flex-1 h-screen flex flex-row  text-gray-300 font-['Poppins']">
    <div class="h-screen w-1/4 ">

        <div class="flex flex-col h-screen w-full p-3 justify-between ">

            <div>
                <h1
                    class="w-fit text-4xl p-2 font-large font-bold bg-gradient-to-r  from-indigo-400 via-purple-400   to-pink-400  tracking-lighter text-transparent bg-clip-text select-none ">
                    NEXUS</h1>
                <div class="mt-10 text-sm text-gray-300 font-light">


                    @NavItem(models.NavItem{
                    Title: "New Chat",
                    GetURL: "/newChat",
                    Target: "#result",
                    Swap: "innerHTML",
                    IconClass: "fa-solid fa-square-plus fa-lg",
                    })

                    @NavItem(models.NavItem{
                    Title: "Models",
                    GetURL: "/config",
                    Target: "#result",
                    Swap: "innerHTML",
                    IconClass: "fa-brands fa-buffer fa-lg",
                    })

                    @NavItem(models.NavItem{
                    Title: "Tools",
                    GetURL: "/tools",
                    Target: "#result",
                    Swap: "innerHTML",
                    IconClass: "fa-solid fa-screwdriver-wrench fa-lg",
                    })
                </div>
            </div>


            <div class="text-gray-300 text-sm">

                @NavItem(models.NavItem{
                Title: "About",
                GetURL: "/about",
                Target: "#result",
                Swap: "innerHTML",
                IconClass: "fa-solid fa-circle-info fa-lg",
                })

                @NavItem(models.NavItem{
                Title: "Logout ",
                GetURL: "/",
                Target: "#app",
                Swap: "innerHTML",
                IconClass: "fa-solid fa-arrow-right-from-bracket fa-md",
                })

                <!--
                    <div
                        class="flex flex-row gap-2 items-center w-full p-2 mb-1 rounded-md shadow-md  hover:bg-slate-900 transition duration-300 cursor-pointer">
                        <i class="fa-solid fa-arrow-right-from-bracket fa-md"></i>
                        <h2 class="select-none">Log Out</h2>
                    </div>
-->
            </div>

        </div>
    </div>
    <div class="bg-slate-900 h-screen w-[2px]">
    </div>
    <div id="result" class="w-3/4 ">
        <div class="p-20 ">
            <h1 class="text-3xl mb-2">Welcome to NEXUS</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque condimentum sapien id
                scelerisque ullamcorper. Aliquam cursus rhoncus nibh, et iaculis leo blandit luctus. Mauris et
                pellentesque enim, vel finibus augue. Duis aliquam luctus rhoncus. Curabitur sed ligula in ante
                iaculis hendrerit vel eu ipsum. Maecenas interdum est ut placerat ultricies. Interdum et malesuada
                fames ac ante ipsum primis in faucibus. Nullam quam ligula, viverra et luctus sed, accumsan non
                erat. Curabitur convallis semper mattis. Vivamus maximus quam non semper feugiat.

                Proin non varius ex. Mauris finibus ligula a leo laoreet tristique. Ut pretium commodo interdum. Nam
                nibh leo, posuere ut mi vel, iaculis ultrices sapien. Pellentesque id iaculis orci. Phasellus nisl
                mauris, accumsan nec turpis a, aliquam imperdiet ligula. Fusce molestie dolor nisl, quis
                pellentesque dui malesuada nec. Maecenas cursus rhoncus ipsum, a cursus eros mattis in. Maecenas
                mattis efficitur laoreet. Fusce interdum nec nulla ac tempor. Donec placerat nisl mi, sed venenatis
                nunc faucibus id. Praesent aliquam dolor mauris, vel faucibus sem scelerisque sed. Aenean dui orci,
                egestas quis est eget, iaculis tempor felis. Curabitur et ex ut velit pellentesque scelerisque in id
                lacus. Mauris laoreet est vel nisl eleifend, vel sodales odio hendrerit.</p>
        </div>
    </div>
</div>
}

}