package components

import "github.com/Pradhyumna-Joshi/go_mcp_frontend/models"

templ ToolsDisabled(conf []models.MCPServerConfig){

<div class="w-full h-screen flex flex-col overflow-hidden p-20">
    <div
        class="flex flex-row gap-2 pb-2  items-center w-full  rounded-md shadow-md   transition duration-300 cursor-pointer">
        <h3 class="text-3xl select-none">Tools <span class="text-xl italic select-none">(MCP Servers)</span>
        </h3>
    </div>
    <div class="flex-1  overflow-y-auto scroll-smooth">
        <div class="mt-8">
            <h1 class="text-xl font-bold select-none">MCP Server</h1>
            <p class="mt-2 text-sm italic">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque
                condimentum
                sapien
                id
                scelerisque ullamcorper. Aliquam cursus rhoncus nibh, et iaculis leo blandit luctus. Mauris et
                pellentesque enim, vel finibus augue. Duis aliquam luctus rhoncus. Curabitur sed ligula in ante
                iaculis hendrerit vel eu ipsum. Maecenas interdum est ut placerat ultricies. Interdum et malesuada
                fames ac ante ipsum primis in faucibus</p>

            <form hx-get="/gettoolconf" hx-target="#result" hx-swap="innerHTML"
                class="w-full flex flex-col gap-4 items-start justify-center mt-4 ">
                @Input(models.Input{
                Label: "Name",
                Name: "name1",
                Value: conf[0].Name,
                Type: "text",
                Title: "Name of MCP Server",
                ReadOnly: true,
                ClassName: "cursor-not-allowed",
                })

                @Input(models.Input{
                Label: "Base URL",
                Name: "base-url1",
                Value: conf[0].BaseURL,
                Type: "text",
                Title: "Base URL",
                ReadOnly: true,
                ClassName: "cursor-not-allowed",
                })

                @Input(models.Input{
                Label: "Transport",
                Name: "transport1",
                Value: conf[0].Transport,
                Type: "text",
                Title: "Transport Protocol",
                ReadOnly: true,
                ClassName: "cursor-not-allowed",
                })






                <div class="mt-8">
                    <h1 class="text-xl font-bold select-none">Additional MCP Server</h1>
                    <p class="mt-2 text-sm italic">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque
                        condimentum
                        sapien
                        id
                        scelerisque ullamcorper. Aliquam cursus rhoncus nibh, et iaculis leo blandit luctus. Mauris et
                        pellentesque enim, vel finibus augue. Duis aliquam luctus rhoncus. Curabitur sed ligula in ante
                        iaculis hendrerit vel eu ipsum. Maecenas interdum est ut placerat ultricies. Interdum et
                        malesuada
                        fames ac ante ipsum primis in faucibus</p>

                    <div class="w-full flex flex-col gap-4 items-start justify-center mt-4 ">
                        @Input(models.Input{
                        Label: "Name",
                        Name: "name2",
                        Value: conf[1].Name,
                        Type: "text",
                        Title: "Name of MCP Server",
                        ReadOnly: true,
                        ClassName: "cursor-not-allowed",
                        })

                        @Input(models.Input{
                        Label: "Base URL",
                        Name: "base-url2",
                        Value: conf[1].BaseURL,
                        Type: "text",
                        Title: "Base URL",
                        ReadOnly: true,
                        ClassName: "cursor-not-allowed",
                        })

                        @Input(models.Input{
                        Label: "Transport",
                        Name: "transport2",
                        Value: conf[1].Transport,
                        Type: "text",
                        Title: "Transport Protocol",
                        ReadOnly: true,
                        ClassName: "cursor-not-allowed",
                        })

                        @Button(models.Button{
                        Id: "btn-tool-edit",
                        Type: "submit",
                        Content: "Edit Settings",
                        ClassName: "bg-red-500 hover:bg-red-500/80" ,
                        })

                    </div>

                </div>
            </form>
        </div>

    </div>


</div>
}